/* Globa Styles
---------------- */
*, .container-fluid, h1,h2,h3,h4,h5,h6,p,img,div {
  margin: 0;
  padding: 0;
}

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background: #d2d9e0;
  color: #f35d00;
}





/* class styles
-------------------- */
.navbar {
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.green {
  color: #47744b;
}

 .banner img {
  height: 100%;
  width: 100%;
  position: relative;
  animation: first-slide ease-in-out 3s;
  margin-bottom: 5rem;
  opacity: 0.3;
  
}

.centered {
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -75%);
  font-size: 90px;
  font-weight: bolder;
}

.navbar-collapse {
  justify-content: center;
}
 
.nav-link {
  margin-right: 50px;
  font-size: 30px;
  font-weight: bold;
}

a.nav-link:hover {
  color: #47744b;
}

.marketing {
  margin-bottom: 3em;
  
  
}

  
  
  
  


.dominate {
  display: none;
}

@keyframes first-slide {
  from {
    height: 125%;
    width: 150%;
    opacity: 1;
  }
  to {
    height: 100%;
    width: 100%;
    opacity: 0.3;
  }
}








/* media queries for responsive design
---------------------------------------- */
@media screen and (max-width:480px) {
  .banner {
   display: none;
  }
  header {
    margin-bottom: 5rem;
  }
  .navbar {
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }
  .title {
    display: none;
  }
  .dominate {
    display: block;
    margin-bottom: 4rem;
  }
    

  #services {
    text-align: center;
  }
}

